<%- include("template/header.ejs", {tituloWeb:'Wallablob-ropa'}) %>

  <div class="container">
   <h1 style="text-align:center;">Ropa</h1>
    <img src="http://localhost:4000/images/img_cabecera" class="img-fluid rounded-top" alt="">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <!--<th scope="col">Imagen</th>-->
                    <th scope="col">Talla</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Defecto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acción</th>


                </tr>
            </thead>
            <tbody>
      <% if (arrayRopa.length> 0) { %>
          <!--Haremos el foreach para recorrer el array-->
          <% arrayRopa.forEach(ropa => { %>
              <tr>
                  <th scope="row"><%= ropa.id %></th>
                  <!--<td><img src="/images/<%= /*ropa.imagen*/ %>" class="img-fluid rounded-top" alt=""></td>-->
                  <td><%= ropa.talla %></td>
                  <td><%= ropa.descripcion %></td>
                  <td><%= ropa.defecto %></td>
                  <td><%= ropa.precio %> €</td>
                  <td>
                    <a class="btn btn-dark btn-sm" href="ropa/<%= ropa.id %>">Editar/Eliminar</a>
                    <a class="btn btn-warning btn-sm" href="#">Agregar a Lista Reparación</a>   
                </td>

                   
              </tr>
          <% }) %>
      <% } %>
</tbody>

        </table>
        <a class="btn btn-success btn-block my-4" href="/ropa/crearropa">Crear una nueva prenda</a>
        <a class="btn btn-success btn-block my-4" href="/">Volver al Index</a>
    </div> 


<script>
            const btnEliminar = document.querySelector('.btn-danger')
            btnEliminar.addEventListener('click', async () => {
                console.log(btnEliminar.dataset.id)
                try {
                    const data = await fetch(`/ropa/${btnEliminar.dataset.id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    console.log(res)
                    if (res.estado) {
                        window.location.href = '/ropa'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
</script>

<%- include("template/footer.ejs") %>
