<%- include("template/header.ejs", {tituloWeb:'Wallablob-ropa'}) %>

  <div class="container">
   <h1 style="text-align:center;">Ropa</h1>
  
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Talla</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acción</th>


                </tr>
            </thead>
            <tbody>
      <% if (arrayRopa.length> 0) { %>
          <!--Haremos el foreach para recorrer el array-->
          <% arrayRopa.forEach(ropa => { %>
              <tr>
                  <th scope="row"><%= ropa.id %></th>
                  <td><%= ropa.imagen %></td>
                  <td><%= ropa.talla %></td>
                  <td><%= ropa.descripcion %></td>
                  <td><%= ropa.precio %></td>
                  <td>
                    <a class="btn btn-warning btn-sm" href="ropa/<%= ropa.id %>">Editar/Eliminar</a>
                    </td>
              </tr>
          <% }) %>
      <% } %>
</tbody>

        </table>
        <a class="btn btn-success btn-block my-4" href="/ropa/crearropa">Crear una nueva prenda</a>
        <a class="btn btn-danger btn-block my-4" href="/">Volver al Menu</a>
    </div>


<script>
            const btnEliminar = document.querySelector('.btn-danger')
            btnEliminar.addEventListener('click', async () => {
                console.log(btnEliminar.dataset.id)
                try {
                    // https://developer.mozilla.org/es/docs/Web/API/HTMLElement/dataset
                    const data = await fetch(`/ropa/${btnEliminar.dataset.id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    console.log(res)
                    if (res.estado) {
                        window.location.href = '/ropa'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
</script>

<%- include("template/footer.ejs") %>
